Checks:
    -*,
    clang-analyzer-*,clang-diagnostic-*,
    cppcoreguidelines-*,performance-*,bugprone-*,
    readability-*,misc-*,hicpp-*,cert-*,modernize-*,
    -clang-diagnostic-nonportable-include-path,
    -clang-analyzer-deadcode.DeadStores,
    -clang-analyze-core.CallAndMessage,
    -cppcoreguidelines-special-member-functions,-hicpp-special-member-functions,
    -hicpp-braces-around-statements,-readability-braces-around-statements,
    -hicpp-use-equals-default -modernize-use-equals-default,
    -hicpp-use-auto,
    -hicpp-vararg,
    -hicpp-member-init,
    -cert-err58-cpp,
    -readability-implicit-bool-conversion,
    -readability-else-after-return,
    -modernize-raw-string-literal,
    -hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cert-err34-c,
    -hicpp-signed-bitwise,
    -modernize-use-auto,-hicpp-use-auto,
    -readability-named-parameter,
    -cert-dcl54-cpp,
    -hicpp-new-delete-operators,
    -modernize-pass-by-value,
    -cppcoreguidelines-pro-type-union-access,
    -hicpp-use-equals-default,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-const-cast,
    -hicpp-function-size,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -hicpp-use-override,
    -hicpp-use-equals-delete,
    -readability-static-accessed-through-instance,
    -cert-flp30-c,
    -modernize-redundant-void-arg,
    -hicpp-explicit-conversions,
    -readability-function-size,
    -cppcoreguidelines-avoid-goto,
    -modernize-use-using,

AnalyzeTemporaryDtors: true
#HeaderFilterRegex: '/dev/opentrack'

CheckOptions:
  - key:      cert-dcl59-cpp.HeaderFileExtensions
    value:    ',h,hpp'
  - key:      cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:    '1'
  - key:      readability-simplify-boolean-expr.ChainedConditionalAssignment
    value:    '1'
  - key:      readability-simplify-boolean-expr.ChainedConditionalReturn
    value:    '1'
  - key:      readability-function-size.BranchThreshold
    value:    '15'
  - key:      readability-function-size.LineThreshold
    value:    '120'
  - key:      readability-function-size.NestingThreshold
    value:    '6'
  - key:      readability-function-size.ParameterThreshold
    value:    '8'
  - key:      readability-function-size.StatementThreshold
    value:    '90'
  - key:      readability-function-size.VariableThreshold
    value:    '10'
