Checks: '
    -*,readability-*,misc-*,hicpp-*,cert-*,modernize-*,clang-analyzer-*,
    -readability-named-parameter,
    -cert-dcl54-cpp,-hicpp-new-delete-operators,
    -hicpp-special-member-functions,
    -hicpp-braces-around-statements,
    -readability-braces-around-statements,
    -hicpp-use-equals-default,
    -hicpp-use-auto,
    -cert-err58-cpp,
    -hicpp-vararg,
    -modernize-use-equals-default,
    -readability-implicit-bool-conversion,
    -readability-else-after-return,
    -modernize-raw-string-literal,
    -hicpp-no-array-decay,
    -cert-err34-c,
    -hicpp-signed-bitwise,
    -modernize-use-auto,
    -hicpp-use-auto,
    '
AnalyzeTemporaryDtors: true
HeaderFilterRegex: '/dev/opentrack'
