*.[ch]pp text=auto eol=lf
*.[ch] text=auto eol=lf
*.[ch]xx text=auto eol=lf
*.txt text=auto eol=lf
*.ui text=auto eol=lf
*.qrc text=auto eol=lf
*.cc text=auto eol=lf
*.md text=auto eol=lf
*.rc text=auto eol=lf
*.csv text=auto eol=lf
.[a-z]* text=auto eol=lf
