/faceAPI/FaceAPI2FSX.vcproj
Release
bin_dbg
Debug
FTNoIR_Protocol_CSV
FTNoIR_Protocol_FTIR
FTNoIR_Protocol_VJOY
FTNoIR_ProtocolTester
FTNoIR_Tracker_AIC_IHT
FTNoIR_Tracker_AIC_IHT BT
FTNoIR_Tracker_Toradex
FTNoIR_Tracker_VISAGE
Headtracking_API_ED
Headtracking_API_RigsOfRods
NPClient
*.lib
*.exp
*.dll
*.pdb
*.ncb
*.suo
*.ilk
*.exe
*Wim*
Redist
*generatedfiles*
FTNoIR_Protocol_PPJOY
/FaceTrackNoIR/FaceTrackNoIR.vcproj
/FTNoIR_Filter_Accela/FTNoIR_Filter_accela.vcproj
/FTNoIR_Filter_EWMA2/FTNoIR_Filter_EWMA2.vcproj
/FTNoIR_Protocol_FG/FTNoIR_Protocol_FG.vcproj
/FTNoIR_Protocol_FSUIPC/FTNoIR_Protocol_FSUIPC.vcproj
/FTNoIR_Protocol_FT/FTNoIR_Protocol_FT.vcproj
/FTNoIR_Protocol_FTN/FTNoIR_Protocol_FTN.vcproj
/FTNoIR_Protocol_MOUSE/FTNoIR_Protocol_MOUSE.vcproj
/FTNoIR_Protocol_SC/FTNoIR_Protocol_SC.vcproj
/FTNoIR_Tracker_FD/FTNoIR_Tracker_FD.vcproj
/FTNoIR_Tracker_HT/FTNoIR_Tracker_HT.vcproj
/FTNoIR_Tracker_PT/FTNoIR_Tracker_PT.vcproj
/FTNoIR_Tracker_SM/FTNoIR_Tracker_SM.vcproj
/FTNoIR_Tracker_UDP/FTNoIR_Tracker_UDP.vcproj
/FaceTrackNoIR GameList V20.xlsm
/FaceTrackNoIR GameList.xlsm
/FaceTrackNoIR.sln
/FaceTrackNoIR/FaceTrackNoIR_WVR.qrc
